services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - docker-network

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress

    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - mariadb
    networks:
      - docker-network

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - docker-network
    ports:
      - "443:443"

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hfiqar/data/mariadb
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hfiqar/data/wordpress

networks:
  docker-network:
    name: docker-network
    driver: bridge
