services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    volumes:
      - /home/hfiqar/data/mariadb:/var/lib/mysql
    networks:
      - docker-network

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress

    env_file:
      - .env
    volumes:
      - /home/hfiqar/data/wordpress:/var/www/html
    depends_on:
      - mariadb
    networks:
      - docker-network

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    env_file:
      - .env
    volumes:
      - /home/hfiqar/data/wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - docker-network
    ports:
      - "443:443"


networks:
  docker-network:
    name: docker-network
    driver: bridge
