services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - docker-network

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress

    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      - docker-network

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - wordpress
    networks:
      - docker-network
    ports:
      - "8080:443"

volumes:
  mariadb_data:
  wordpress_data:

networks:
  docker-network:
    name: docker-network
    driver: bridge
